body {
    background-color: lightgreen;
}

.container {
    border: 1px solid;
}

.grid {
    max-width: 595px;
    display:flex;
    flex:flex-wrap;
}
.jumbotron {
    background-image:url("./jumboBack.jpg");
    display: flex;
    height: 400px;
}

.nav {
    background-image:url("./jumboBack.jpg");
}

.navbar {
    background-image:url("./jumboBack.jpg");
}

.calendars {
    display:flex;
    justify-content:space-between;
}

.slogan {
    padding-right:25px;
    padding-top: 25px;
    float:right;
    height: 250px;
    font-size-adjust: 50px;
    text-align: center;
    font-family:serif;
}

ul {
    justify-content:center;
    margin: 0 auto;
    align-content: center;
    text-align:center;
    list-style: none;
    color:black;
}



#soberFor {
    font-size: 50px;
}

.navbar-brand {
    padding-top: 25px;
    font-size: 50px;
    color: black;
}

h1 {
    text-align: center;
}
div {
    overflow-wrap: break-word;
    word-wrap:break-word;
}

.counter {
    font-size: 30px;
    background-color: lightgray;
    margin:6px;
}

.ticker {
    height: 180px;
    background-color:white;
}
#timeTicker {
   text-align:center;
   font-size:110px;
}

#playaPlaya {
    float:right;
    width:50px;

}

#logo {
    padding-top: 35px;
}

.input-group {
    padding: 10px;
}

.banner {
    background-color: lightgray;
    display:flex;
    margin:6px;
}

.col {
    height: 200px;
}
.col-3 {
    height: 100px;
}

.main {
    height: 500px;
}
.dateEntry {
    align-content: right;
}

p {
    margin: 0 auto;
}
.header {
    font-size: 30px;
    margin: 0 auto;
    color: black;
    text-align: center;
    background-color: lightgray;
}

.adjust {
    height: 500px;
}
.profile{
    height: 500px;
}
.tracker {
    height: 500px;
    background-color:lightgray;
}

.row {
    border: 1px solid;
}

.row1 .row2 .row3{
    font-size: 40px;
    margin: 0 auto;
}
.goalRow {
    height: 230px;
    border: 1px solid;
    font-size:22px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#profileName {
    font-size:35px;
    text-align:center;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: lightgray;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
   */
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .avatar {
      justify-content: center;
      margin: 0 auto;
      align-content:center;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 14px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 25%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

#signandlog {
    padding-top: 21px;
    margin-left:16px;
    align-content:center;
    width:90%;
}
.w3-button {
    padding: 0px 0px;
    margin: 0
}
#goalButt {

    background-color: lightgray;
    color:white;
    height:25px;
    width:20px;
    float: right;
    cursor: pointer;
    font-size:40px;
    margin-right:22px;
    margin-bottom: 40px;
}