body {
    background-color: lightgreen;
}

.container {
    padding: 20px;
    border: 1px solid;
}
.jumbotron {
    background-image:url("./jumboBack.jpg");
    display: flex;
    height: 400px;
}
.slogan {
    padding-top: 25px;
    float:right;
    height: 250px;
    font-size-adjust: 50px;
    text-align: center;
}

ul {
    justify-content:center;
    margin: 0 auto;
    align-content: center;
    text-align:center;
    list-style: none;
    color:black;
}

.nav {
    background-image:url("./jumboBack.jpg");
}

.navbar {
    background-image:url("./jumboBack.jpg");
}

#soberFor {
    font-size: 50px;
}

.navbar-brand {
    padding-top: 25px;
    font-size: 50px;
    color: black;
}

.nav-buttons {
    padding-top: 5px;
    display:inline-flex;
}

h1 {
    text-align: center;
}
div {
}

.counter {
    font-size: 30px;
    background-color: lightgray;
}

.ticker {
    height: 200px;
    background-color:white;
}
#timeTicker {
    padding-top: 20px;
   text-align:center;
   font-size:110px;
}

.input-group {
}

.banner {
    background-color: lightgray;
    display:flex;
}

.col {
   border:1px solid;
    height: 200px;
}
.col-3 {
    height: 100px;
}

.main {
    height: 500px;
}
.dateEntry {
    align-content: right;
}

p {
    margin: 0 auto;
}
.header {
    font-size: 40px;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.adjust {
    height: 500px;
}
.profile{
    height: 500px;
}
.tracker {
    height: 500px;
}

.row {
    border: 1px solid;
}

.row1 .row2 .row3{
    font-size: 50px;
    margin: 0 auto;
}
.goalRow1 {
    height: 220px;
    border: 1px solid;
}
.goalRow2 {
    height: 220px;
    border: 1px solid;
}
.goalRow3 {
    height: 220px;
    border: 1px solid;
}
.goalRow4 {
    height: 220px;
    border: 1px solid;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#signandlog {
    
    align-content:center;
    width:100%;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .avatar {
      justify-content: center;
      margin: 0 auto;
      align-content:center;
  }